* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: blueviolet;
}

/* Main Styling */
html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0px 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: orange;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.btn:hover {
    background: white;
    color: #333;
}

/* Navbar */
#navbar {
    background: blue;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
    display: block;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover {
    color: #f7c08a;
}

/* Info */
#info .info-left {
    color: #fff;
    text-align: none;
    padding-top: 170px;
}

#info .info-left h1 {
    font-size: 80px;
    line-height: 1.2em;
    padding-bottom: 40px;
}

#info .info-left p {
    font-size: 20px;
    padding-bottom: 70px;
    line-height: 1.5em;
}

#info .info-right img {
    float: right;
    width: 40%;
    min-height: 100%;
    border-radius: 50%;
}

#info .info-right {
    position: relative;
    top: -480px;
}